pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml
langchain-huggingface
faiss-cpu
pypdf
langchain-google-genai
langchain-pinecone
langchain-unstructured[local]
unstructured
unstructured[pdf]
python-magic
python-magic-bin
sentence-transformers
